header {
    background-color: #1F2937;
    height: auto;
    width: auto;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.container1 {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 150px;
}

.leftcontent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.topsign {
    margin-top: 10px;
    border-radius: 10px;
    color: #F9FAF8;
    font-size: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
}

.rightcontent {

}

.leftside1 {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    color: #F9FAF8;
}

.leftside2 {
    font-size: 18px;
    color: #E5E7EB;
}

footer {
    background-color: #1F2937;
    color: white;
}

button {
    background-color: #3882F6;
}

.top-link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

ul {
    list-style-type: none;
}
